DB_URL=jdbc:postgresql://localhost:5432/veterinaria_db
DB_USERNAME=postgres
DB_PASSWORD=colocar_contrasena
JWT_SECRET=
JWT_EXPIRATION_MINUTES=60
RECOVERY_TOKEN_EXPIRATION_MINUTES=10
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true
